.shared_input {
  padding: 6px 12px;
  background-color: var(--silver);
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  transition: 300ms;
}
@media only screen and (max-width: 1200px) {
  .shared_input {
    padding: 5px 12px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1110px) {
  .shared_input {
    padding: 4px 8px;
    font-size: 14px;
  }
}

