.stock_table_title {
  font-size: 42px;
  margin-bottom: 8px;
  transition: 300ms;
}

.stocks_table {
  width: 100%;
  border-collapse: collapse;
}

.stocks_table th,
.stocks_table td {
  padding: 8px;
  border: 1px solid var(--dark-silver);
  transition: 400ms;
}

.stocks_table th {
  font-size: 20px;
}

.stocks_table td {
  font-size: 18px;
}

.stocks_table th {
  background-color: var(--silver);
}

.stocks_table tbody tr:nth-child(even) {
  background-color: var(--silver);
}

.stocks_table tbody tr:hover {
  background-color: var(--light-silver);
}

@media only screen and (max-width: 1200px) {
  .stock_table_title {
    font-size: 38px;
  }
  .stocks_table th {
    font-size: 18px;
  }

  .stocks_table td {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1110px) {
  .stock_table_title {
    font-size: 34px;
  }

  .stocks_table th {
    font-size: 16px;
  }

  .stocks_table td {
    font-size: 14px;
  }
}
